/*PHONE SIZE*/
.running-price {
  color: gray;
}
.button-group {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap: 10px;
}
.btn {
  border: 1px solid #dcdcdc !important;
}
.btn:hover {
  border: 1px solid black !important;
}
section {
  margin-top: 25px;
}
.carousel-item img {
  height: 350px;
}
.size-chart {
  margin-top: 10px;
}
/*TABLET SIZE*/
@media (min-width: 768px) {
  .carousel-item img {
    height: 400px !important;
    width: 400px !important;
    margin: 0 auto !important;
  }
}
/*DESKTOP SIZE*/
@media (min-width: 992px) {
  .size-and-button {
    float: right;
  }
  .carousel {
    width: 70%;
    float: left;
  }
  .row {
    height: 50px;
  }
}
@media (min-width: 1400px) {
  /*TODO: change positioning of size chart so it doesn't stray too far and becomes bigger*/
  .carousel-item img {
    height: 500px !important;
    width: 500px !important;
    margin: 0 auto !important;
  }
  .button-group {
    width: 100% !important;
    display: flex;
    flex-direction: column;
  }
  .size-chart {
    width: 350px !important;
  }
}
/*FOR THE POPUP */
/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
