/*PHONE SIZE*/
.running-price {
  color: gray;
}
.button-group {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap: 10px;
}
.btn {
  width: 75%;
  border: 1px solid #dcdcdc !important;
}
.btn:hover {
  border: 1px solid black !important;
}
section {
  margin-top: 25px;
}
.carousel-item img {
  height: 350px;
}
.size-chart {
  margin-top: 10px;
}
/*TABLET SIZE*/
@media (min-width: 768px) {
  .carousel-item img {
    height: 400px !important;
    width: 400px !important;
    margin: 0 auto !important;
  }
}
